<section class="wrap animated fadeInLeft">
  <div class="screen">
    <div class="content">
      <h2>Iron Man</h2>
    </div>
  </div>
  <div class="screen">
    <div class="content">
      <h2>Capitan America</h2>
    </div>
  </div>
  <div class="screen">
    <div class="content">
      <h2>Viuda Negra</h2>
    </div>
  </div>
  <div class="screen">
    <div class="content">
      <h2>Bruce Banner</h2>
    </div>
  </div>
  <div class="screen">
    <div class="content">
      <h2>Thor</h2>
    </div>
  </div>
  <div class="screen">
    <div class="content">
      <h2>Capitana Marvel</h2>
    </div>
  </div>
</section>
